#title {
    background-color: lightgray;
    color: black;
    text-align: center;
}

#abouttitle {
    text-align: center;
    font-size: 40px;
    margin: 10px;
}

#aboutinfo {
    text-align: left;
    font-size: 18px;
    margin: 10px;
    text-indent: 20px;
}

#keybindinfo {
    text-align: center;
    font-size: 24px;
    margin: 10px;
}

#about {
    height: 100%;
    width: 100%;
    z-index: 99 !important;
    position: absolute;
    background-color: white;
}

#asbtn {
    background-color: darkred;
    color: lightblue;
    margin: 5px;
    font-family: 'VT323', monospace;
}

#ssids {
    box-sizing: border-box;
    background-color: black;
    color: green;
    display: block;
    margin: 0;
    scroll-margin: left;
    text-align: left;
    overflow: auto;
    height: 90%;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    animation: slide infinite 3s alternate;
}

body {
    font-family: 'VT323', monospace;
    background-color: gray;
}